<% provide(:title, "Home Page") %>

<div class="jumbotron">
	<h1 class="center"> Hey, this is an API. </h1>
	<p class="center"> This means that accessing directly isnt correct, but is possible. </p>
</div>
