<% provide(:title, "User Details") %>

<div class="jumbotron">
	<h1 class="center"> Welcome, <%= current_user.name %>. </h1>
	<p class="center"> Your Spotify account is now connected here. </p>
</div>
